/* ===== style.css ===== */

/* Universal Root */
.root {
    -fx-font-family: "Segoe UI", Arial, sans-serif;
    -fx-background-color: Lightyellow;
    -fx-padding: 20;
}

/* Titles */
.page-title {
    -fx-font-size: 22px;
    -fx-font-weight: bold;
    -fx-padding: 0 0 10 0; /* top, right, bottom, left */
    -fx-border-color: lightgray;
    -fx-border-width: 0 0 1 0; /* only bottom border */
}

.section-title {
    -fx-font-size: 16px;
    -fx-font-weight: bold;
    -fx-padding: 0 0 5 0;
    -fx-border-color: lightgray;
    -fx-border-width: 0 0 1 0;
}

.forms-label {
    -fx-font-size: 14px;
    -fx-font-weight: bold;
}

.com-font {
    -fx-font-size: 12px;
    -fx-font-weight: bold;
}

.login-font {
    -fx-font-size: 12px;
    -fx-text-fill: #5b5b5b;
}

.popup-content {
    -fx-pref-width: 400px;
    -fx-pref-height: 300px;
    -fx-padding: 10px;
}


/* TextField */
.text-field {
    -fx-border-color: lightgray;
    -fx-background-radius: 4px;
    -fx-padding: 4 8 4 8;
}

/* InfoBox */
.info-box {
    -fx-border-color: #d9ead3;
    -fx-border-width: 3;
    -fx-background-color: #d9d2e9;
    -fx-padding: 6 10 6 10;
}

/* ChoiceBox */
.choice-box {
    -fx-border-color: lightgray;
}

/* Spinner */
.spinner {
    -fx-border-color: lightgray;
}

/* Button */
.button {
    -fx-font-weight: bold;
    -fx-border-radius: 4px;
    -fx-background-radius: 4px;
    -fx-cursor: hand;
}
.button:hover {
    -fx-background-color: #94b6d6;
}

/* --- TableView Styling --- */
.table-view {
    -fx-border-color: #CCCCCC;
    -fx-border-radius: 5;
    -fx-background-radius: 5;
    -fx-background-color: white;
    -fx-padding: 5;
}

/* --- Table Header --- */
.table-view .column-header-background {
    -fx-background-color: #f4f4f4;
    -fx-border-width: 0 0 1 0;
}

.table-view .column-header .label {
    -fx-font-size: 10px;
    -fx-font-weight: bold;
    -fx-text-fill: #333333;
    -fx-padding: 5 0 5 0;
}

/* --- Table Rows --- */
.table-row-cell {
    -fx-cell-size: 28px;
}

.table-cell {
    -fx-padding: 4px;

}

.table-row-cell:filled:selected {
    -fx-background-color: #377987;
    -fx-text-fill: black;
    -fx-font-size: 11px
}

/* Empty table message */
.table-view .placeholder .label {
    -fx-text-fill: gray;
    -fx-font-style: italic;
}



